body{
background-color: rgb(174, 165, 59);
}
img{
display: block;
margin-left: 02%;
}
#menu {
background-color: #042d04;
margin-top: 0%;
border-radius: 18%;
padding: 0px;
}
#menu ul {
padding: 15px;
text-align: center;
}
#menu ul li {
display: inline;
margin: 4%;
font-size: 25px;
font-family: cursive;
}
#menu ul li a {
text-decoration:none;
color: #d8cb69;
font-weight: bold;
}
#menu ul li a:hover {
color: rgb(162, 122, 21);
}
#conteudo_sobre_ img {
margin-left: 5%;
}
#conteudo_sobre h1 {
margin-left: 5%;
font-size: 300%;
}
#conteudo_sobre p {
margin-left: 05%;
font-size: 130%;
}
#conteudo_contato form {
margin-left: 60%;
box-sizing: border-box;
}
#conteudo_contato textarea {
width: 550px;
height: 150px;
}
div{
    margin: 15px;
    height: 10px;
}

